* {
    padding: 0;
    margin: 0;    
    font-family: 'Anton', sans-serif;
}

@mixin disfc {
    display: flex;
    justify-content: center;
    align-items: center;
}

$site-color: linear-gradient(
        to bottom,
        #b8860b 0%,
        #ffd700 20%,
        #fff8dc 40%,
        #ffd700 60%,
        #b8860b 80%,
        #ffd700 100%
        );

.custom-toast .Toastify__progress-bar {
    background-color: site-color !important; 
}

.spinner {
    border: 5px solid white;
    border-top: 5px solid rgba(238, 215, 9, 0.959); 
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loadingContainer {
    background-color: black;
    width: 100%;
    height: 100vh;
    @include disfc();
}

.separator {
    background-color: black;
    @include disfc();
    &__prop {
        background-color: whitesmoke;
        width: 70%;
        height: 3px;
        border-radius: 5vh;
    }
}

.loginLinkContainer {
    position: fixed;
    bottom: 5vh;
    right: 6vh;
    &__labelLogin {
        width: 100%;
        background-color: yellow;
        border-radius: 30vh;
        font-size: 20px;
        padding: 1vh 2vh;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        background: linear-gradient(
        to bottom,
        #b8860b 0%,
        #ffd700 20%,
        #fff8dc 40%,
        #ffd700 60%,
        #b8860b 80%,
        #ffd700 100%
        );
        color: black;
        text-align: center;
        font-family: 'Anton', sans-serif;
    }
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.3);
    }
}

.loginContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3.5fr;
    &__formContainer {
        background-color: black;
        width: 100%;
        @include disfc();
        &__form {
            background-color: rgba(183, 183, 183, 0.85); // blanco translúcido
            backdrop-filter: blur(6px); // desenfoque de fondo
            -webkit-backdrop-filter: blur(6px); // compatibilidad Safari
            background-color: rgb(185, 184, 184);
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            margin-left: 10vh;
            padding: 8vh 4vh;
            border-radius: 2vh;
            box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.4); // sombra más intensa
            &__title {
                width: 100%;
                @include disfc();
                padding-bottom: 4vh;
                &__prop {
                    font-size: 40px;
                    //font-family: 'Anton', sans-serif;
                }
            }
            &__input {
                width: 100%;
                display: flex;
                &__prop {
                    background-color: white;
                    width: 100%;
                    height: 20px;
                    border-radius: 1vh;
                    font-size: 16px;
                    padding: 1vh;
                    color: black;
                    border: 0.3vh solid black;
                }
            }
            &__btn {
                width: 100%;
                @include disfc();
                padding-top: 2vh;
                flex-direction: column;
                gap: 1vh;
                &__prop {
                    width: 60%;
                    padding: 1vh 0vh;
                    font-size: 20px;
                    border-radius: 0.5vh;
                    text-decoration: none;
                    text-align: center;
                    cursor: pointer;
                    border: 0.3vh solid black;
                    background: linear-gradient(
                    to bottom,
                    #b8860b 0%,
                    #ffd700 20%,
                    #fff8dc 40%,
                    #ffd700 60%,
                    #b8860b 80%,
                    #ffd700 100%
                    );
                    //font-family: 'Anton', sans-serif;
                    font-weight: 600;
                    color: black;
                    //@include btn();
                }
            }
        }
    }
    &__logoContainer {
        background-color: black;
        width: 100%;
        @include disfc();
        flex-direction: column;
        gap: 5vh;
        &__title {
            width: 100%;
            @include disfc();
            &__prop {
                font-size: 35px;
                color: white;
            }
        }
        &__logo {
            width: 100%;
            @include disfc();
            &__prop {
                width: 25%;
            }
        }
        &__phrase {
            width: 100%;
            @include disfc();
            &__prop {
                width: 50%;
                font-size: 25px;
                text-align: justify;
                color: white;   
            }
        }
    }
}

.homeContainer{
    background-image: url('/src/assets/fondo_home.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__logoImg {
        @include disfc();
        &__prop {
            width: 15%;
            margin-top: 4vh;
        }
    }
    &__titleImg {
        @include disfc();
        &__prop {
            width: 40%;
            margin-top: 6vh;
        }
    }
    &__label {
        @include disfc();
        &__prop {
            font-family: Impact, sans-serif;
            font-size: 80px;
            color: white;
            letter-spacing: 1vh;
            margin-top: 4vh;
        }
    }
    &__btnLogoWhap {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding: 4vh 0vh 2vh 0vh;
        &__btn {
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 5vh;
            &__prop {
                background-color: yellow;
                width: 60%;
                border-radius: 30vh;
                font-size: 50px;
                padding: 1vh 4vh;
                cursor: pointer;
                font-weight: bold;
                background: linear-gradient(
                    to bottom,
                    #b8860b 0%,
                    #ffd700 20%,
                    #fff8dc 40%,
                    #ffd700 60%,
                    #b8860b 80%,
                    #ffd700 100%
                    );
                    color: black;
                    text-align: center;
                    font-family: 'Anton', sans-serif;
                }
            }
            &__logoWhap {
                display: flex;
            &__prop {
                width: 20%;
                transition: transform 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
    }
}

.linksContainer {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 8vh 0vh 16vh 0vh;
    &__titleImg {
        @include disfc();
        &__prop {
            width: 40%;
            margin-top: 2vh;
        }
    }
    &__label {
        @include disfc();
        &__prop {
            font-family: Impact, sans-serif;
            font-size: 60px;
            color: white;
            letter-spacing: 1vh;
            margin-top: 2vh;
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        margin-top: 6vh;
        &__itemBtn {
            @include disfc();
            padding-top: 2vh;
            &__btn {
                background-color: yellow;
                width: 50%;
                border-radius: 30vh;
                font-size: 40px;
                padding: 1vh 4vh;
                cursor: pointer;
                font-weight: bold;
                background: linear-gradient(
                to bottom,
                #b8860b 0%,
                #ffd700 20%,
                #fff8dc 40%,
                #ffd700 60%,
                #b8860b 80%,
                #ffd700 100%
                );
                color: black;
                text-align: center;
                font-family: 'Anton', sans-serif;
            }
        }
        &__frequentlyAskedQuestions {
            @include disfc();
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1vh;
            &__frequentlyAskedQuestionGradient {
                background-color: yellow;
                width: 40%;
                border-radius: 30vh;
                font-size: 20px;
                padding: 1vh 4vh;
                cursor: pointer;
                font-weight: bold;
                background: linear-gradient(
                to bottom,
                #b8860b 0%,
                #ffd700 20%,
                #fff8dc 40%,
                #ffd700 60%,
                #b8860b 80%,
                #ffd700 100%
                );
                color: black;
                text-align: center;
                font-family: 'Anton', sans-serif;
            }
            &__frequentlyAskedQuestion {
                background-color: white;
                width: 40%;
                border-radius: 30vh;
                font-size: 20px;
                padding: 1vh 4vh;
                cursor: pointer;
                font-weight: bold;
                text-align: center;
                font-family: 'Anton', sans-serif;
            }
        }
        &__frequentAnswers {
            &__frequentAnswerContainer {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.4s ease;
                @include disfc();
            }

            &__frequentAnswerContainer.active {
                max-height: 500px;
                @include disfc();
            }

            &__frequentAnswer {
                width: 40%;
                color: white;
                font-size: 25px;
                text-align: justify;
                padding: 1vh 2vh;
            }
        }
        &__socialNetworksContainer {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease, padding-top 0.5s ease;
            padding: 0;
            @include disfc();
            &.open {
                max-height: 500px; // poné un valor que sobrepase la altura máxima esperada
                padding-top: 1vh;
            }
            &__socialNetworks {
                width: 40%;
                border-radius: 30vh;
                padding: 1vh 4vh;
                font-weight: bold;
                background: linear-gradient(
                to bottom,
                #b8860b 0%,
                #ffd700 20%,
                #fff8dc 40%,
                #ffd700 60%,
                #b8860b 80%,
                #ffd700 100%
                );
                font-family: 'Anton', sans-serif;
                display: flex;
                align-items: center;
                gap: 2vh;
                &__socialNetwork {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &__prop {
                        width: 30%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.faq-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}


.whoWeAreContainer {
    background-color: black;
    width: 100%;
    height: 100vh;
    padding-top: 8vh;
    &__headerImg {
        width: 100%;
        height: 30vh;
        background-image: url('/src/assets/header_whoWeAreContainer.webp');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__whoWeAreText {
        width: 100%;
        height: 60vh;
        @include disfc();
        &__prop {
            width: 80%;
            font-size: 50px;
            font-family: Impact, sans-serif;
            color: white;
            text-align: justify;
            //font-weight: bold;
            letter-spacing: 0.1vh;
        }
    }
}